<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e2c1cf4f-2387-4cee-904e-32e3bc155a24/resourceGroups/MyAppServicePlanResource/providers/Microsoft.Web/sites/ClientPortalApiDemo</ResourceId>
    <ResourceGroup>MyAppServicePlanResource</ResourceGroup>
    <ApiResourceId>/subscriptions/e2c1cf4f-2387-4cee-904e-32e3bc155a24/resourceGroups/MyAppServicePlanResource/providers/Microsoft.ApiManagement/service/BackendOrderSystemapi/apis/OrderSystemApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://clientportalapidemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b7da33dc-0eba-4fff-9a1f-7dc9cb50bb4c</ProjectGuid>
    <MSDeployServiceURL>clientportalapidemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ClientPortalApiDemo</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAATvwSSrc4UUK/n7Pc6yjz2gAAAAACAAAAAAAQZgAAAAEAACAAAACi5H0OFAjvMcYy+flmcTrRx3Z4GFts89Mqm5WF3JHvgAAAAAAOgAAAAAIAACAAAADc+/n+iIWIb0UcY2SIISzpkm1QTPdY2/B/oachXwc5VCAAAADRK19JhdutDp17pGDtl2l2YtXcGaHouiCZAeWiwLibVUAAAAB4lsTNE6/u8XE6DDtakwNGMbBekaOLWx/NOmIpJK1EsfQdXQlXgNT+2jdhXdiZ3Rg7f95cHLMa0hMsUaFIWgwU</EncryptedPassword>
    <IsBasicAuthAllowed>True</IsBasicAuthAllowed>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>