<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e2c1cf4f-2387-4cee-904e-32e3bc155a24/resourcegroups/Order_System/providers/Microsoft.Web/sites/OrderSystemClientPortal</ResourceId>
    <ResourceGroup>Order_System</ResourceGroup>
    <ApiResourceId>/subscriptions/e2c1cf4f-2387-4cee-904e-32e3bc155a24/resourceGroups/Order_System/providers/Microsoft.ApiManagement/service/OrderSystemapi/apis/OrderSystem</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ordersystemclientportal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b7da33dc-0eba-4fff-9a1f-7dc9cb50bb4c</ProjectGuid>
    <MSDeployServiceURL>ordersystemclientportal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OrderSystemClientPortal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$OrderSystemClientPortal</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>